*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    overflow-x: hidden;
    
}

header{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    height: 55vh;
    display: grid;
    grid-template-columns: 15rem auto;
    align-items: center;
    margin-left: 8%;    
}

header>div{
    margin-right: 4rem;
}

.logo{
    width: 100%;
}

#backdrop{
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transition: all 3s;
}

#backdrop>div{
    background-color: rgb(32, 32, 32);
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 8px;
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem ;
    font-size: 2rem;
    font-family: 'Oswald';
    color: rgb(230, 208, 13);
    z-index: 1;

}

#backdrop>div>img{
    width: 100%;
    max-width: 318px;
    overflow: visible;
}

.popup{
    width: 60%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 2;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
   
    background-color: black;
}

.popup-active{
    transform: translateX(-35%);
    z-index: 2;
    position: fixed;
}

.valueHolder{
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 14rem auto;
    grid-template-rows: minmax(2.3rem, auto) repeat(14, 2.3rem);

}

.valueHolder > span{
    color: rgb(14, 166, 236);
}

.head{
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head>h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.5rem;
    text-decoration: underline;
    font-size: 2rem;
    flex: 5;
    text-align: center;
}

.toggle-burger{
    flex: 1;
}

.toggle-burger> div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin: 3px;
    padding-left: 12px;
    transition: ease 1s;
}

@keyframes burger{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line-2{
    opacity: 0;
}
.toggle .line-3{
    transform: rotate(45deg) translate(-2px, -4px);
}

@media(max-width:600px){
    .head{

        width: 100%;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;  
        font-size: 12px;
        height: auto;
    }
    .logo{
        width: 70%;
    }
    header>div{
        margin-left: 1.6rem;
    }

    .head>h1{
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .popup{
        width: 100%;
        overflow-y: scroll;
     
        
    }
    .popup-active{
        transform: translateX(0%);
        
    }
    .valueHolder{
        font-size: 0.9rem;
        grid-template-columns: 10rem auto;
    }
    
}








